<!--
  include.data.base: {{include.data.base}}
-->
<div class="cards">
  {% for year in include.data.year %}
    {% if year.display == true %}
      <div class="card">
        <div class="card-image">
          <a title="Read Transcripts from {{year.year}}."
             {% comment %}
             old value of href
             href="{{include.data.base | append: year.year | append: year.about-url}}">
             {% endcomment %}
             href="{{include.data.base | append: year.about-url}}">
            <img src="{{include.data.image-base | append: year.image}}" alt="">
          </a>
        </div>
        <div class="card-header">
          {{year.title}}
        </div>
        <div class="card-copy">
          {{year.desc}}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>


