{% comment %}
  ui/description-list
  -------------------
  include.base: {{include.base}}
  include.skip: {{include.skip}}
  include.source: {{include.source}}
  include.class: {{include.class}}
{% endcomment %}
{% case include.source %}
  {% when "acim" %}
    {% include uii/dl/nwffacim-studygroup-contents.html
    skip=include.skip base=include.base data=include.data %}
  {% when "questions" %}
    {% include uii/dl/wom-questions-contents.html
    class=include.class ref=include.ref data=include.data %}
  {% else %}
    <!--
      description-list.html
      ---------------------
      unknown or missing include.source
      include.source: {{include.source}}
    -->
{% endcase %}

