<form class="search-bar" role="search">
  <label for="option-select">
    Select the source of your search.
    <select id="option-select" class="search-options" style="width: 70%">
      <option id="option-select-wom" value="wom">Way of Mastery</option>
      <option id="option-select-nwffacim" value="nwffacim">Northwest Foundation for ACIM</option>
    </select>
  </label>
  <div class="search-bar-button">
    <input class="requested-search-string" type="search" placeholder="Enter Search" />
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>

