<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger"></div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Captured Audio Playback Times</h1>
      <p>
        You can support us when listening to the audio on this page
        by clicking the the big "Bullseye" symbol in front of each
        paragraph. The "Bullseye" is displayed by pressing the 
        <em>Capture</em> option in the sidebar.

        <em>Thank you!</em>
      </p>
      <h2>Captured Data</h2>
      <button title="Copy to Clipboard" class="clipboard-btn"
        data-clipboard-target="#captured-audio-data"
        data-clipboard-action="copy">
        <i class="fa fa-clipboard"></i>
      </button>
      <pre id="captured-audio-data">
        Hello, this is a test
      </pre>
    </div>
  </div>
</div>

