<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger"></div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Captured Audio Playback Times</h1>
      <p>
        You can support us when listening to the audio on this page
        by clicking the the big "Bullseye" symbol in front of each
        paragraph. The "Bullseye" is displayed by pressing the 
        <em>Capture</em> option in the sidebar.
        <br/>
        <em>Thank you!</em>
      </p>
      <h2>Captured Data</h2>
      <p>
        When you are finished, submit this form to send us the data.
        <em>Thanks Again</em>
      <p>
      <p class="submit-message"></p>
      <form id="audio-data-form" netlify-honeypot="message" name="audio-data" action="/wom/woh/woh/" netlify>
        <p class="honeypot-field">
          <label>Your Message:</label>
          <input type="text" name="message">
        </p>
        <p>
          <label>Your Name:</label>
          <input type="text" name="name">
        </p>
        <p>
          <label>Your Email:</label>
          <input type="email" name="email">
        </p>
        <p>
          <label>Comments:</label>
          <textarea id="audio-data-comments" name="comments"></textarea>
        </p>
        <p>
          <label>The Data:</label>
          <textarea readonly id="captured-audio-data" name="data"></textarea>
        </p>
        <p>
          <button>Send</button>
        </p>
      </form>
    </div>
  </div>
</div>

