{% case page.sid %}
  {% when "acim" %}
    {% if page.chapter %}
      {{ page.chapter | prepend: "Chapter " }}
      <br/><small>{{ page.ref }} {{page.title}}</small>
    {% elsif page.ref %}
      {{ page.title }}
      <br/><small>{{ page.ref }}</small>
    {% else  %}
      {{page.title}}
    {% endif %}
  {% else  %}
    {{ page.title }}
    {% if page.ref %}
      <br/>
      {% if page.alink %}
        <small><a title="Link to ACIM" href="{{page.alink}}">{{page.ref}}</a></small>
      {% else %}
        <small>{{page.ref}}</small>
      {% endif %}
    {% endif %}
{% endcase %}

