---
---

@import 0-plugins/plugins-dir
@import 1-base/base-dir
@import 2-modules/modules-dir
@import 3-layouts/layouts-dir

.page.scfcopy
  background-image: url(/public/img/wom/copyright15.jpg)
  background-repeat: no-repeat
  background-position: center

.fa-copyright
  color: red

.clipboard-copy-wrapper
  display: none

.lib-card-container-3
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 2fr 2fr
  grid-column-gap: 20px
  grid-row-gap: 20px
  justify-items: stretch
  align-items: stretch

.lib-card-container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 2fr 2fr
  grid-column-gap: 20px
  grid-row-gap: 20px
  justify-items: stretch
  align-items: stretch

.libcard
  $card-image-hover-color: #F8F2B4
  $base-border-radius: 3px !default
  $base-border-color: gainsboro !default
  $base-background-color: white !default
  $base-spacing: 1.5em !default
  $action-color: #477DCA !default
  $dark-gray: #333 !default
  $base-font-color: $dark-gray !default
  $card-border-color: $base-border-color
  $card-border: 1px solid $card-border-color
  $card-background: lighten($card-border-color, 10%)
  $card-header-background: $card-background
  $card-margin: 1em
  $card-image-hover-opacity: 0.7

  background-color: $card-background
  border: $card-border
  border-radius: $base-border-radius
  box-shadow: 0 2px 4px darken($base-background-color, 10%)
  cursor: default
  //margin: 0 $card-margin $base-spacing $card-margin
  //position: relative
  transition: all 0.2s ease-in-out

  .card-image
    background-color: $card-image-hover-color
    height: 250px
    max-height: 250px
    overflow: hidden

    img
      @include border-top-radius($base-border-radius)
      opacity: 1
      transition: all 0.2s ease-in-out
      width: 100%

  .card-image-small
    background-color: $card-image-hover-color
    height: 150px
    max-height: 150px
    overflow: hidden

    img
      @include border-top-radius($base-border-radius)
      opacity: 1
      transition: all 0.2s ease-in-out
      width: 100%

  .card-header
    cursor: default
    background-color: $card-header-background
    border-bottom: $card-border
    border-radius: $base-border-radius $base-border-radius 0 0
    font-weight: bold
    line-height: 1.5em
    padding: ($base-spacing / 3) ($base-spacing / 2)
    transition: all 0.2s ease-in-out

  .card-copy
    cursor: default
    font-size: 0.9em
    line-height: 1.5em
    padding: ($base-spacing / 2) ($base-spacing / 2)

    p
      margin: 0 0 ($base-spacing / 2)

  &:focus,
  &:hover
    cursor: pointer

    img
      opacity: $card-image-hover-opacity

  &:active
    background-color: $card-background

    .card-header
      background-color: $card-background

dt
  float: left
  clear: left
  width: 30%

dd
  margin: 0 0 0 30%
  padding: 0 0 0.5em 0

fieldset
  border: none

label
  display: inline-block
  margin-bottom: 5px
  font-weight: 700

//search page
#search-message
  background-color: lightsteelblue
  padding: 10px
  color: black
  margin-bottom: 10px
  border-radius: 8px

  p
    margin-top: 4px

.search-source
  margin-bottom: 20px

//search form
.search-bar > label
  display: inline-block
  margin-bottom: 10px

//contact form
.form-control
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  display: block
  width: 100%
  padding: 6px 12px
  font-size: 14px
  line-height: 1.4em
  background-color: white
  background-image: none
  border: 1px solid #ccc

.color-red
  color: red

.mail-list
  background-color: lightsteelblue
  border-radius: 10px

  fieldset
    padding: 20px 30px

section
  +outer-container
  header
    +span-columns(4)
  section
    +span-columns(8)

//without this, section wraps under header - ???
section header
  margin-right: 0

.accordion
  $base-border-color: gainsboro !default
  $dark-gray: #333 !default
  $base-font-color: $dark-gray !default
  $accordion-menu-color: $base-font-color
  $accordion-menu-border-color: $base-border-color
  $accordion-menu-background: lighten($accordion-menu-border-color, 20%)
  $accordion-menu-hover: lighten($accordion-menu-background, 5%)

  //use san-sarif font for list
  font-family: $helvetica

  //remove artifact caused by bourbon
  li
    border-bottom: none

  ul.submenu > section
    margin: auto 10%

    header a
      //color: $base-font-color
      display: block

      &:last-child
        border: 0

      &:focus,
      &:hover
        background-color: $accordion-menu-hover

.about-me
  //background-color: lightsteelblue
  background-color: #e6ecf5
  padding: 20px
  border-radius: 8px

.sidebar-nav-item.hide-player
  display: none

.hide-player
  display: none

.items_found p
  margin-top: 10px

.items_found
  ul.fa-ul
    margin-left: 1em

.items_found
  p > em
    font-weight: bold

i.playmark.playmark-hide.fa
  display: none

i.bkmark.bkmark-hide.fa
  display: none

.bm-current-page
  color: white
  background-color: darkslategrey
  border-radius: 8px
  text-align: center

.fa-ul > li.bm-list
  display: block

.bookmark-close
  cursor: pointer

.bookmark-dialog
  position: fixed
  top: 100px
  left: 30%
  width: 50%
  background-color: white
  border: 1px solid black
  height: 70%
  overflow: scroll

  & > header
    margin: 20px

  & > section
    margin: 30px
    ul
      list-style: none

@media (max-width: 768px)
  .bookmark-dialog
    left: 20%
    width: 60%

@media (max-width: 480px)
  .bookmark-dialog
    left: 10%
    width: 80%

.shadow
  box-shadow: 5px 5px 4px 0 #6f6f6d

.show-mark
  color: white
  background-color: #841212

.hide-mark
  color: black
  background-color: white

.search-fixed
  position: fixed
  bottom: 90px
  right: 10px

.search-results-wrapper
  width: 400px

.search-document
  overflow: hidden

.search-header
  .search-info, .search-document
    height: 1.6em
    background-color: lightgoldenrodyellow
    border: 1px solid darkgrey
    p
      margin-left: 10px

.search-controls
  height: 40px
  position: relative
  background-color: black
  cursor: pointer
  a
    position: absolute
    top: 5px
    color: white
  a.search-prev-page
    left: 20px
  a.search-prev-match
    left: 90px
  a.search-next-match
    left: 160px
  a.search-next-page
    left: 230px
  a.play-this-match
    left: 300px
  a.search-dialog-close
    left: 360px


//.search-wrapper
//  position: fixed
//  top: 100px
//  left: 50%
//  transform: translateX(-50%)
//  width: 30%

a.sidebar-nav-item
  &.first-item
    border-top: 1px solid white
  &.last-item
    border-bottom: 1px solid white

//sidebar toc
a.sidebar-nav-item-toc

  &.first-item
    border-top: 1px solid white

  &.selected-item
    border: 1px dashed white

