{% comment %}
Generate next/previous page links from _data files based on page.bid
- add links to resources (pdf, mp3, etc) if present and requested
  by include parameter 'resource=true'

** Note: this file sets liquid variable used by the layout
  - page-contains-audio
  - transcript-format-complete

{% endcomment %}

{% comment %}
<!--
  bid: {{page.bid}}
  include.resource: {{include.resource}}
-->
{% assign parent = data.parent %}

{% assign href-prev = {{base}}{{page-data.prev}} %}
{% assign href-next = {{base}}{{page-data.next}} %}

{% assign prev-test = page-data.pref | remove_first: "/" %}
{% assign next-test = page-data.pref | remove_first: "/" %}

{% if page-data.prev != prev-test %}
  {% assign href-prev = {{parent}}{{page-data.prev}} %}
{% endif %}

{% if page-data.net != next-test %}
  {% assign href-next = {{parent}}{{page-data.next}} %}
{% endif %}

{% endcomment %}

{% assign include-resource = include.resource | default: false %}
{% include nav/resolve.html %}
{% if data %}
  {% assign count = 1 %}
  {% assign resource = "" %}

  {% assign base = data.base %}
  {% assign intro = data.intro %}
  {% assign key = page.url | remove_first: base %}
  {% if key == page.url %}
    {% assign key = page.url | remove_first: intro %}
  {% endif %}
  {% assign p = data.page | where: "fid", key %}
  {% assign page-data = p[0] %}

  {% comment %}
    transcript-format-complete, when false, prevents the capture of audio
    timing data 
  {% endcomment %}
  {% assign transcript-format-complete = page-data.complete | default: false %}

  {% comment %}
  {% endcomment %}
  <!--
    base: {{base}}
    intro: {{intro}}
    key: {{key}}
    page.url: {{page.url}}
    {% if page-data %}
    ** page-data was found for the page **
    {% else %}
    ** NO page-data found for page **
    {% endif %}
  -->

  {% if include-resource %}

    {% if page-data.res.rtf %}
      {% assign count = count | plus: 1 %}
      {% assign rtf-href = data.domain.rtf | append: page-data.res.rtf %}
      {% assign resource = resource | append: "rtf=" | append: rtf-href %}
    {% endif %}

    {% if page-data.res.pdf %}
      {% assign count = count | plus: 1 %}
      {% assign pdf-href = data.domain.pdf | append: page-data.res.pdf %}
      {% if resource.size == 0 %}
        {% assign resource = resource | append: "pdf=" | append: pdf-href %}
      {% else %}
        {% assign resource = resource | append: ",pdf=" | append: pdf-href %}
      {% endif %}
    {% endif %}

    {% if page-data.res.audio %}
      {% assign page-contains-audio = true %}
      {% assign count = count | plus: 1 %}
      {% if page-data.res.audio-domain %}
        {% assign audio-href = page-data.res.audio-domain | append: page-data.res.audio %}
      {% else %}
        {% assign audio-href = data.domain.audio | append: page-data.res.audio %}
      {% endif %}
      {% assign data-audio-title = page-data.title %}
      {% if resource.size == 0 %}
        {% assign resource = resource | append: "audio=" | append: audio-href %}
      {% else %}
        {% assign resource = resource | append: ",audio=" | append: audio-href %}
      {% endif %}
    {% endif %}

    {% if page-data.res.video %}
      {% assign count = count | plus: 1 %}
      {% assign video-href = data.domain.video | append: page-data.res.video %}
      {% if resource.size == 0 %}
        {% assign resource = resource | append: "video=" | append: video-href %}
      {% else %}
        {% assign resource = resource | append: ",video=" | append: video-href %}
      {% endif %}
    {% endif %}

    {% assign bits = resource | split: "," %}
  {% endif %}
  <ul class="fa-ul">
    <li>
      <a title="Previous Page" href="{{page-data.prev}}">
        <i class="fa-li fa fa-hand-o-left"></i>&nbsp;&nbsp;
      </a>
    </li>
    <li>
      <a title="Next Page" href="{{page-data.next}}">
        <i class="fa-li fa fa-hand-o-right"></i>
      </a>
    </li>
    {% if include-resource %}
      {% for bit in bits %}
        {% assign parts = bit | split: "=" %}
        {% assign title = "" %}
        {% assign target = "" %}
        {% case parts[0] %}
          {% when "pdf" %}
            {% assign class = "fa-li fa fa-file-pdf-o" %}
            {% assign title = 'title="Display/Download PDF (on new page/tab)"' %}
            {% assign target = 'target="_blank"' %}
            {% when "rtf" %}
            {% assign class = "fa-li fa fa-file-text-o" %}
            {% assign title = 'title="Download RTF"' %}
          {% when "audio" %}
            {% assign aclass = "audio-toggle" %}
            {% assign class = "fa-li fa fa-volume-up" %}
            {% assign title = 'title="Play Recording"' %}
          {% when "video" %}
            {% assign class = "fa-li fa fa-play" %}
            {% assign title = 'title="Play Video"' %}
            {% assign target = 'target="_blank"' %}
          {% else %}
            {% assign class = "fa-li fa question-circle-o" %}
            {% assign title = 'title="Unknown URL"' %}
        {% endcase %}
        <li>
          <a {{target}} {{title}}
            {% if data-audio-title.size > 0 %}data-audio-title="{{data-audio-title}}"{% endif %}
            {% if aclass.size > 0 %}class="{{aclass}}"{% endif %}
             href="{{parts[1]}}">
            <i class="{{class}}"></i>
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% else %}
  <h1> ERROR in nav/np-data.html: data file not found for page.bid: {{page.bid}}</h1>
{% endif %}

