{% comment %}
Determine what data file to use based on page.bid. See _config.yml in defaults:
for location page.bid declaration
{% endcomment %}
{% case page.bid %}
  {% when 2002 %}
    {% assign data = site.data.nwffacim.acim.2002 %}
  {% when 2003 %}
    {% assign data = site.data.nwffacim.acim.2003 %}
  {% when 2004 %}
    {% assign data = site.data.nwffacim.acim.2004 %}
  {% when 2005 %}
    {% assign data = site.data.nwffacim.acim.2005 %}
  {% when 2006 %}
    {% assign data = site.data.nwffacim.acim.2006 %}
  {% when 2007 %}
    {% assign data = site.data.nwffacim.acim.2007 %}
  {% when 2008 %}
    {% assign data = site.data.nwffacim.acim.2008 %}
  {% when 2009 %}
    {% assign data = site.data.nwffacim.acim.2009 %}
  {% when 2010 %}
    {% assign data = site.data.nwffacim.acim.2010 %}
  {% when 2011 %}
    {% assign data = site.data.nwffacim.acim.2011 %}
  {% when 2012 %}
    {% assign data = site.data.nwffacim.acim.2012 %}
  {% when 2013 %}
    {% assign data = site.data.nwffacim.acim.2013 %}
  {% when 2014 %}
    {% assign data = site.data.nwffacim.acim.2014 %}
  {% when 2015 %}
    {% assign data = site.data.nwffacim.acim.2015 %}
  {% when 2016 %}
    {% assign data = site.data.nwffacim.acim.2016 %}
  {% when 2017 %}
    {% assign data = site.data.nwffacim.acim.2017 %}
  {% when "yaa" %}
    {% assign data = site.data.nwffacim.yaa %}
  {% when "grad" %}
    {% assign data = site.data.nwffacim.grad %}
  {% when "woh" %}
    {% assign data = site.data.wom.woh %}
  {% when "wot" %}
    {% assign data = site.data.wom.wot %}
  {% when "wok" %}
    {% assign data = site.data.wom.wok %}
  {% when "acimc" %}
    {% assign data = site.data.nwffacim.acim.acimc %}
  {% when "early" %}
    {% assign data = site.data.wom.early %}
  {% when "tjl" %}
    {% assign data = site.data.wom.tjl %}
  {% when "wos" %}
    {% assign data = site.data.wom.wos %}
  {% when "questions" %}
    {% assign data = site.data.wom.questions %}
  {% when "manual" %}
    {% assign data = site.data.acim.manual %}
  {% when "workbook" %}
    {% assign data = site.data.acim.workbook %}
  {% when "atext" %}
    {% assign data = site.data.acim.chapters %}
  {% when "atext01" %}
    {% assign data = site.data.acim.chap01 %}
  {% when "atext02" %}
    {% assign data = site.data.acim.chap02 %}
  {% when "atext03" %}
    {% assign data = site.data.acim.chap03 %}
  {% when "atext04" %}
    {% assign data = site.data.acim.chap04 %}
  {% when "atext05" %}
    {% assign data = site.data.acim.chap05 %}
  {% when "atext06" %}
    {% assign data = site.data.acim.chap06 %}
  {% when "atext07" %}
    {% assign data = site.data.acim.chap07 %}
  {% when "atext08" %}
    {% assign data = site.data.acim.chap08 %}
  {% when "atext09" %}
    {% assign data = site.data.acim.chap09 %}
  {% when "atext10" %}
    {% assign data = site.data.acim.chap10 %}
  {% when "atext11" %}
    {% assign data = site.data.acim.chap11 %}
  {% when "atext12" %}
    {% assign data = site.data.acim.chap12 %}
  {% when "atext13" %}
    {% assign data = site.data.acim.chap13 %}
  {% when "atext14" %}
    {% assign data = site.data.acim.chap14 %}
  {% when "atext15" %}
    {% assign data = site.data.acim.chap15 %}
  {% when "atext16" %}
    {% assign data = site.data.acim.chap16 %}
  {% when "atext17" %}
    {% assign data = site.data.acim.chap17 %}
  {% when "atext18" %}
    {% assign data = site.data.acim.chap18 %}
  {% when "atext19" %}
    {% assign data = site.data.acim.chap19 %}
  {% when "atext20" %}
    {% assign data = site.data.acim.chap20 %}
  {% when "atext21" %}
    {% assign data = site.data.acim.chap21 %}
  {% when "atext22" %}
    {% assign data = site.data.acim.chap22 %}
  {% when "atext23" %}
    {% assign data = site.data.acim.chap23 %}
  {% when "atext24" %}
    {% assign data = site.data.acim.chap24 %}
  {% when "atext25" %}
    {% assign data = site.data.acim.chap25 %}
  {% when "atext26" %}
    {% assign data = site.data.acim.chap26 %}
  {% when "atext27" %}
    {% assign data = site.data.acim.chap27 %}
  {% when "atext28" %}
    {% assign data = site.data.acim.chap28 %}
  {% when "atext29" %}
    {% assign data = site.data.acim.chap29 %}
  {% when "atext30" %}
    {% assign data = site.data.acim.chap30 %}
  {% when "atext31" %}
    {% assign data = site.data.acim.chap31 %}
  {% else  %}
    <!--
      resolve: page.bid not found
      page.bid: "{{page.bid}}"
    -->
    {% assign data = false %}
{% endcase %}


