<head>
  <!-- Canonical link to help search engines -->
  <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}"/>

  <!-- Basic meta elements -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

  <!-- Open Graph metadata -->
  {% include script/load-open-graph.html %}

  <title>
    {% if page.title == "Home" %}
      {{ Christ Mind }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS links -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/ed.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/cmi.css"/>

  <!-- Icons -->
  {% include script/favicon.html %}

  <script src="https://use.fontawesome.com/6c994f43a5.js"></script>
  <script src="/public/js/lib/jQuery/jquery.min.js"></script>
  {% include script/load-media-elements.html %}
  {% include script/load-hypothesis.html %}
  {% include script/load-webclip.html %}
  <script src="/public/js/cmi.js"></script>

  <!-- google -->
  {% include script/analytics.html %}

</head>
