<div class="masthead">
  <div class="container">
    <h3 class="masthead-title">
      <a href="/" title="Home">{{ site.title }}</a>
      {% if page.source and page.book %}
        <br><small>
          <a href="{{page.surl}}">{{ page.source }}</a>
          {% if page.home == "#" %}
            <span>:</span>
            {{ page.book }}
          {% else %}
            <span>/</span>
            <a href="{{page.home}}">{{ page.book }}</a>
          {% endif %}
        </small>
      {% elsif page.source %}
        <br><small>
        {% if page.surl == page.url %}
          {{ page.source }}
        {% else %}
          <a href="{{page.surl}}">{{ page.source }}</a>
        {% endif %}
        </small>
      {% else %}
        <br><small>{{ site.tagline }}</small>
      {% endif %}
    </h3>
  </div>
</div>

