<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
      {% if page.book %}
        {{page.book}} <br/>
      {% endif %}
      {{ page.title }}
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item first-item{% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="/search/">Search</a>
    {% comment %}
    <a class="sidebar-nav-item list-bookmarks" href="javascript:void(0);">List Bookmarks</a>
    {% endcomment %}
    <a class="sidebar-nav-item" href="{{ page.surl }}" >{{ page.source }}</a>
    {% if page.burl != page.url %}
      <a class="sidebar-nav-item" href="{{ page.burl }}" >{{ page.book }}</a>
      {% if page.uurl != page.url and page.unit %}
        <a class="sidebar-nav-item" href="{{ page.uurl }}" >{{ page.unit }}</a>
      {% endif %}
    {% endif %}
    <a class="sidebar-nav-item first-item" href="#" data-proofer-ignore>Top of Page</a>
    <a class="sidebar-nav-item search-navigator" href="javascript:void(0);">Search Navigator</a>
    {% comment %}
    <div>
      <a class="sidebar-nav-item bookmark" href="javascript:void(0);">Bookmark&nbsp;&nbsp;</a>
      <a class="sidebar-bookmark sidebar-nav-item" href="javascript:void(0);">
        <i class="fa fa-bookmark"></i>
      </a>
    </div>
    {% endcomment %}
    <div class="capture pmarker-wrapper">
      <a class="pmarker-toggle sidebar-nav-item" href="#">
        <i class="fa fa-toggle-off"></i>
        &nbsp;Time Capture Off
      </a>
      <a class="time-lister sidebar-nav-item" href="#">
        <i class="fa fa-send-o"></i>
      </a>
    </div>
    {% for node in page.toc %}
      <a class="sidebar-nav-item sidebar-nav-item-toc" href="#{{ node | slugify }}">{{ node }}</a>
    {% endfor %}
    {% comment %}
    {% endcomment %}
    {% include {{page.contents | default: "nav/contents.html" }} %}

  </nav>

  <div class="sidebar-item">
    {% if page.editor %}
      <p>
       Edited by {{ page.editor }}, {{ site.time | date: '%Y' }}.
      </p>
    {% endif %}
  </div>
</div>
