<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
      {{ site.description }}
      {% if page.title %}
        <br/>{{page.title}}
      {% endif %}
    </p>
  </div>

  <nav class="sidebar-nav">
    {% if page.url == "/" %}
      <a class="sidebar-nav-item active" href="#">Home</a>
    {% else %}
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    {% endif %}

    {% for node in site.data.cmi.library.pages %}
      {% if page.url == node.url %}
        <a class="sidebar-nav-item active" href="#">{{ node.title }}</a>
      {% else %}
        <a class="sidebar-nav-item" href="{{ node.url }}">{{ node.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</div>
