<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
      {% if page.book %}
        {{page.book}} <br/>
      {% endif %}
      {{ page.title }}
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ page.surl }}" >{{ page.source }}</a>
    {% if page.burl != page.url %}
      <a class="sidebar-nav-item" href="{{ page.burl }}" >{{ page.book }}</a>
      {% if page.uurl != page.url %}
        <a class="sidebar-nav-item" href="{{ page.uurl }}" >{{ page.unit }}</a>
      {% endif %}
    {% endif %}
    <div class="capture pmarker-wrapper">
      <a class="pmarker-toggle sidebar-nav-item" href="#">
        <i class="fa fa-bullseye"></i>
        &nbsp;Capture Time
      </a>
      <a class="time-lister sidebar-nav-item" href="#">
        <i class="fa fa-send-o"></i>
      </a>
    </div>
    <div class="time-tester-wrapper">
      <a class="time-tester sidebar-nav-item" href="#">
        <i class="fa fa-play"></i>
        &nbsp;Test Captured Time
      </a>
    </div>
    <a class="sidebar-nav-item" href="#" data-proofer-ignore>Top of Page</a>
    {% for node in page.toc %}
      <a class="sidebar-nav-item sidebar-nav-item-toc" href="#{{ node | slugify }}">{{ node }}</a>
    {% endfor %}
    {% comment %}
    <!--
      sidebar-toc
      page.bid: {{page.bid}}
      page.contents: {{page.contents | default: "nav/contents.html" }}
    -->
    {% endcomment %}
    {% include {{page.contents | default: "nav/contents.html" }} %}

  </nav>

  <div class="sidebar-item">
    {% if page.editor %}
      <p>
       Edited by {{ page.editor }}, {{ site.time | date: '%Y' }}.
      </p>
    {% endif %}
  </div>
</div>
