
{% assign skip = include.skip | default: -1 %}
{% assign base = include.base | default: "" %}

<section>

{% for book in include.data %}
  {% if skip != book.idx %}
    {% assign class = "" %}
    {% if book.complete.format %}
      {% assign complete = book.complete.format | default: 0 %}
    {% else %}
      {% assign complete = book.complete | default: 0 %}
    {% endif %}
    {% if complete == false or complete == 0 %}
      {% assign class = "<i class='fa fa-fw fa-exclamation'></i>" %}
    {% endif %}

    <header>
      <a href="{{book.url}}">
        {{class}}&nbsp;{{book.title}}
      </a>
    </header>
    <section>
      <p>{{book.desc | default: "No description yet"}}</p>
    </section>
  {% endif %}
{% endfor %}

</section>
