{% comment %}
<!--
  uii/dl/wom-questions-contents.html
  ----------------------------------
  include.base: {{include.data.base}}
  include.class: {{include.class}}
-->
{% endcomment %}

<section class="{{include.class}}">

{% for title in include.data.titles %}
  <hr>
  <h3>{{include.data.title}}: {{title.title}}</h3>
  {% for ques in title.questions %}
    {% assign pf = include.ref.page | where: "fid", ques.fid %}
    {% assign ref = pf[0] %}
    {% include uii/state/transcript-state.html page=ref %}
    <header>
      <a href="{{include.data.base | append: ques.fid}}">
        {% if index != "" %}
          <i class="fa fa-fw {{index}}"></i>
        {% endif %}
        {% if audio != "" %}
          <i class="fa fa-fw {{audio}}"></i>
        {% endif %}
        {% if format != "" %}
          <i class="fa fa-fw {{format}}"></i>
        {% endif %}
        {{ques.title}}
      </a>
    </header>
    <section>
      <p>{{ques.question}}</p>
    </section>
  {% endfor %}
{% endfor %}

</section>

