
.person
  min-height: 20px
  padding: 19px
  margin-bottom: 20px
  background-color: #f2e6f3
  border-radius: 8px

.book
  min-height: 20px
  padding: 19px
  margin-bottom: 20px
  background-color: #c8e7f1
  border-radius: 8px
  color: black

.example
  margin-left: 4%

.well-orig
  min-height: 20px
  padding: 19px
  margin-bottom: 20px
  background-color: #f5f5f5
  border: 1px solid #e3e3e3
  border-radius: 4px

.well blockquote
  border-color: #ddd
  border-color: rgba(0, 0, 0, .15)

.well-lg
  padding: 24px
  border-radius: 6px

.well-sm
  padding: 9px
  border-radius: 3px

