.footer
  $base-spacing: 1.5em !default
  padding: $base-spacing $gutter

  .footer-logo
    margin-bottom: 1em
    float: left

  .footer-links
    margin-bottom: 0

  ul
    margin-bottom: $base-spacing

  li a img
    display: block
    margin: 0 auto
