//mixin channelList(src)
//  h3= src.name
//  ul.fa-ul
//    each info in src.info
//      li: i.fa-ul.fa.fa-bookmark
//        a.cmiBookmarkLink(href= info.page)
//          = info.book + ": " + info.unit
//
//each src in source
//  +channelList(src)
h3= "My name is Rick"
