//mixin channelList(src)
//  each info in src.info
//    li: i.fa-ul.fa.fa-bookmark
//      a.cmiBookmarkLink(href= info.page)
//        = info.book + ": " + info.unit

ul.fa-ul
  each mark in bookmarks
    if thisPageUrl === mark.page
      li.bm-list.bm-current-page= ">>" + mark.title
    else
      li.bm-list= mark.title

    ul
      each p,index in mark.mark
        li
          i.fa-ul.fa.fa-bookmark
          a(href= mark.page + "#" + p)
            = "  Bookmark " + (index + 1)
