-
  //date is: mmddyy
  function formatDate(unit) {
    var month = ["","Jan", "Feb", "Mar", "Apr", "May", "Jun",
                  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var mm = Number.parseInt(unit.substr(0,2), 10);
    var yy = Number.parseInt(unit.substr(4,2), 10);
    var dd = Number.parseInt(unit.substr(2,2), 10);
    var year = ((yy > 50) ? "19": "20") + unit.substr(4,2);
    var unitName = month[mm] + " " + dd + ", " + year;
    return unitName;
  }
  function getGradUnitName(unit) {
    if (unit === "g000002") {
      return "Authors Note";
    }
    else if (unit === "g000003") {
      return "Foreword";
    }
    else {
      return formatDate(unit.substr(1));
    }
  }
  function getYaaUnitName(unit) {
    if (unit == "acknowledgements") {
      return "Acknowledgements";
    }
    else if (unit == "foreword") {
      return "Foreword";
    }
    else if (unit == "afterword") {
      return "Afterword";
    }
    else {
      return formatDate(unit);
    }
  }
  function getACIMUnitName(unit) {
    return formatDate(unit);
  }
  function getUnitName(bid, unit) {
    if (bid === "grad") {
      return getGradUnitName(unit);
    }
    else if (bid === "yaa") {
      return getYaaUnitName(unit);
    }
    else {
      return getACIMUnitName(unit);
    }
  }

mixin hitList(book, bid, hits)
  - var length = hits.length;
  h3= book + " (" + length + ")"
  ul.fa-ul
    each val in hits
      - var url = val.base + "?s=show" + val.location;
      - var unitName = getUnitName(bid, val.unit);
      li: i.fa.fa-search
        a(href=url) &nbsp; #{unitName}
        p !{val.context}

if yaa
  +hitList("You Are the Answer", "yaa", yaa)
if grad
  +hitList("Graduation", "grad", grad)
if a2002
  +hitList("ACIM Study Group - 2002", "acim", a2002)
if a2003
  +hitList("ACIM Study Group - 2003", "acim", a2003)
if a2004
  +hitList("ACIM Study Group - 2004", "acim", a2004)
if a2005
  +hitList("ACIM Study Group - 2005", "acim", a2005)
if a2006
  +hitList("ACIM Study Group - 2006", "acim", a2006)
if a2007
  +hitList("ACIM Study Group - 2007", "acim", a2007)
if a2008
  +hitList("ACIM Study Group - 2008", "acim", a2008)
if a2009
  +hitList("ACIM Study Group - 2009", "acim", a2009)
if a2010
  +hitList("ACIM Study Group - 2010", "acim", a2010)
if a2011
  +hitList("ACIM Study Group - 2011", "acim", a2011)
if a2012
  +hitList("ACIM Study Group - 2012", "acim", a2012)
if a2013
  +hitList("ACIM Study Group - 2013", "acim", a2013)
if a2014
  +hitList("ACIM Study Group - 2014", "acim", a2014)
if a2015
  +hitList("ACIM Study Group - 2015", "acim", a2015)
if a2016
  +hitList("ACIM Study Group - 2016", "acim", a2016)

