-
  function getUnitName(unit) {
    var id;
    var name;
    var number;
    var isQuestion = false;
    var isWom = false;
    var qNum;
    var uKnit = unit;

    if (unit.startsWith("chap")) {
      number = Number.parseInt(unit.substr(4, 2), 10);
      name = "Chapter " + number;
    }
    else if (unit.startsWith("l0") || unit.startsWith("l1")) {
      id = unit.substr(1);
      number = Number.parseInt(id);
      name = "Lesson " + number;
    }
    else {
      if (unit.length > 3) {
        isQuestion = true;
        qNum = unit.substr(4);
        uKnit = unit.substr(0,3);
      }
      switch(uKnit) {
        case "h01":
        case "h02":
        case "h06":
        case "h07":
        case "h08":
        case "h09":
        case "h10":
        case "h11":
        case "h12":
          name = "Way of the Heart: Lesson ";
          id = Number.parseInt(uKnit.substr(1,2),10);
          name = name + id;
          break;
        case "t01":
        case "t06":
        case "t07":
        case "t09":
        case "t11":
          name = "Way of Transformation: Lesson ";
          id = Number.parseInt(uKnit.substr(1,2),10);
          name = name + id;
          break;
        case "k02":
        case "k03":
        case "k04":
        case "k06":
        case "k10":
          name = "Way of Knowing: Lesson ";
          id = Number.parseInt(uKnit.substr(1,2),10);
          name = name + id;
          break;
        case "ble":
          name = "The Blessing of Forgiveness";
          break;
        case "c2s":
          name = "Choose to See";
          break;
        case "com":
          name = "Mastering Communication";
          break;
        case "dbc":
          name = "Decide to be Christ";
          break;
        case "dth":
          name = "Death and Earth Changes";
          break;
        case "fem":
          name = "The Divine Feminine";
          break;
        case "gar":
          name = "Grace as Reality";
          break;
        case "hea":
          name = "Healing";
          break;
        case "hoe":
          name = "Heaven on Earth";
          break;
        case "hoi":
          name = "The Holy Instant";
          break;
        case "hsp":
          name = "The Holy Spirit";
          break;
        case "ign":
          name = "Ignorance is Bliss";
          break;
        case "joy":
          if (unit.charAt(3) === "1") {
            name = "Joy I";
          }
          else {
            name = "Joy II";
          }
          //no questions for joy1 and joy2, disable
          isQuestion = false;
          break;
        case "moa":
          name = "Meaning of Ascension";
          break;
        case "mot":
          name = "Become the Master of Time";
          break;
        case "wak":
          name = "Awakening";
          break;
        case "wlk":
          name = "Walk with Me";
          break;
        default:
          name = uKnit;
          break;
      }
    }

    if (isQuestion) {
      name = name + " - Question " + qNum;
    }
    return name;
  }

mixin hitList(book, hits)
  h3= book
  ul.fa-ul
    each val in hits
      - var url = val.base + "?s=show" + val.location;
      - var unit = getUnitName(val.unit);
      li: i.fa.fa-search
        a(href=url) &nbsp; #{unit}
        p !{val.context}

if woh
  +hitList("Way of the Heart", woh)
if wot
  +hitList("Way of Transformation", wot)
if wok
  +hitList("Way of Knowning", wok)
if wos
  +hitList("Way of the Servant", wos)
if tjl
  +hitList("The Jeshua Letters", tjl)
if early
  +hitList("The Early Years", early)
if questions
  +hitList("Question and Answers", questions)

