-
  function getUnitName(unit) {
    var id;
    var name;
    var number;

    if (unit === "early") {
      name = "Ooops...";
    }
    else if (unit.startsWith("chap")) {
      number = Number.parseInt(unit.substr(4, 2), 10);
      name = "Chapter " + number;
    }
    else {
      id = unit.substr(1);
      number = Number.parseInt(id,10);
      name = "Lesson " + number;
    }
    return name;
  }

mixin hitList(book, hits)
  h3= book
  ul.fa-ul
    each val in hits
      - var url = val.base + "?s=show" + val.location;
      - var unit = getUnitName(val.unit);
      li: i.fa.fa-search
        a(href=url) &nbsp; #{unit}
        p !{val.context}

if woh
  +hitList("Way of the Heart", woh)
if wot
  +hitList("Way of Transformation", wot)
if wok
  +hitList("Way of Knowning", wok)
if wos
  +hitList("Way of the Servant", wos)
if tjl
  +hitList("The Jeshua Letters", tjl)
if early
  +hitList("The Early Years", early)
if questions
  +hitList("Question and Answers", questions)

