{% assign cmi-image = "https://www.christmind.info/public/open-graph-logo.png" %}
{% if page.layout == "narrative" %}
  {% assign type = "article" %}
  {% assign description = page.fb.desc | default: page.title %}
{% else %}
  {% assign type = "website" %}
  {% assign description = page.fb.desc | site.description %}
{% endif %}

<!-- facebook -->
<meta property="og:site_name" content="Christ Mind Info"/>
<meta property="og:title" content="{{page.title}}"/>
<meta property="fb:admins" content="rick.mercer.us"/>
<meta property="fb:app_id" content="{{site.fb-appId}}"/>
<meta property="og:url" content="https://www.christmind.info{{page.url}}"/>
<meta property="og:type" content="{{type}}" />
<meta property="og:description" content="{{description}}">

{% for img in page.fb.image %}
  <meta property="og:image" content="https://www.christmind.info/public/img/{{img}}"/>
{% endfor %}

<meta property="og:image" content="/public/open-graph-logo.jpg">
<meta property="og:image:width" content="211">
<meta property="og:image:height" content="317">

{% comment %}
<meta property="og:image" content="{{cmi-image}}"/>
{% endcomment %}

<!-- twitter -->
{% if page.twitter %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@rmercer3" />
<meta name="twitter:title" content="{{description}}" />
<meta name="twitter:description" content="{{page.twitter.desc | default: "Description not set"}}" />

{% comment %}
image: 120x120 min - square
twitter validator: https://cards-dev.twitter.com/validator
{% endcomment %}
{% if page.twitter.image %}
  <meta name="twitter:image" content="https://www.christmind.info/{{page.twitter.image}}" />
{% else %}
  <meta name="twitter:image" content="{{cmi-image}}" />
{% endif %}

{% endif %}

