
{% if page.bid %}
  {% include nav/resolve.html %}
  {% comment %}
    <!--
      load-audio info
      page.bid: {{page.bid}}
      {% if data %}
      ** A data file was found for page **
      {% else %}
      ** NO data file found for page **
      {% endif %}
    -->
  {% endcomment %}

  {% if data %}
    {% assign base = data.base %}
    {% assign intro = data.intro | default: "not found" %}
    {% assign key = page.url | remove_first: base %}
    {% if key == page.url %}
      {% assign key = page.url | remove_first: intro %}
    {% endif %}
    {% assign p = data.page | where: "fid", key %}
    {% assign page-data = p[0] %}

    {% comment %}
    <!--
      load-audio info
      page.bid: {{page.bid}}

      base: {{base}}
      intro: {{intro}}
      page.url: {{page.url}}
      key: {{key}}
      {% if page-data %}
      ** page-data was found for the page **
      {% else %}
      ** NO page-data found for page **
      {% endif %}
    -->

      Don't load speed, skip-back, and jump-forward if we have timing data. They 
      mess up the highlight when audio playing and paragraph's are hilighted.
    {% endcomment %}

    {% if page-data.res.audio %}
      {% comment %}
      we no longer need this - not removing it yet while I make all the
      necessary changes
      {% include script/load-jquery.html %}
      {% endcomment %}

      <link href="/public/css/lib/mediaelement/mediaelementplayer.css" rel="stylesheet" />
      <link href="/public/css/lib/mediaelement/speed.css" rel="stylesheet" />
      <link href="/public/css/lib/mediaelement/stop.min.css" rel="stylesheet" />
      <script src="/public/js/lib/mediaelement/mediaelement-and-player.js"></script>
      <script src="/public/js/lib/mediaelement/speed.js"></script>
      <script src="/public/js/lib/mediaelement/stop.js"></script>


      {% comment %}load timing data if it exists{% endcomment %}
      {% if page-data.res.timing %}
        <script src="/public/js/audio{{base}}{{page-data.res.timing}}"></script>
      {% else %}
        <link href="/public/css/lib/mediaelement/skip-back.min.css" rel="stylesheet" />
        <script src="/public/js/lib/mediaelement/skip-back.js"></script>
        <script src="/public/js/lib/mediaelement/jump-forward.js"></script>
      {% endif %}
      {% assign load-cmi = true %}
    {% endif %}
  {% endif %}
{% endif %}

