{% comment %}
  Sidebar contents for Way of Mastery texts: WOH, WOT, WOK
{% endcomment %}
{% assign base = site.data.wom.wok.contents.base %}
{% assign class = "sidebar-nav-item sidebar-nav-item-toc" %}
{% for i in site.data.wom.wok.contents.pages %}
  {% assign link = base | append: i.url %}
  {% assign extra = "" %}
  {% assign title = i.title %}
  {% if forloop.first %}
    {% assign extra = "first-item" %}
  {% endif %}
  {% if page.url == link %}
    {% assign extra = extra | append: " active" | append: " selected-item" %}
    {% assign title = title | prepend: "> " | append: " <" %}
    {% assign link = "#" %}
  {% endif %}
  <a class="{{class}} {{extra}}" href="{{link}}"> {{ title }} </a>
{% endfor %}


