{% comment %}
*** Used for NWFFACIM: Raj Transcripts ***

Generate next/previous page links from _data files

There is a data file for each year of transcripts  The 'resolve-year'
include returns the correct data in the 'year' variable.

The 'calc-index' includes, depends on 'resolve-year' and calculates
the index of the page within the year. Doing this prevents the need
to specify the index as a front matter variable for each of the
transcripts. There are many of them!!
{% endcomment %}
{% include nwffacim/acim/resolve-year.html %}
{% include nwffacim/acim/calc-index.html %}
{% assign base = year.base %}
{% assign page-info = year.page[index] %}
<ul class="fa-ul">
  <li>
    <a title="Previous Page" href="{{base}}{{page-info.prev}}">
      <i class="fa-li fa fa-hand-o-left"></i>&nbsp;&nbsp;
    </a>
  </li>
  <li>
    <a title="Next Page" href="{{base}}{{page-info.next}}">
      <i class="fa-li fa fa-hand-o-right"></i>
    </a>
  </li>
</ul>

