{% comment %}
  Determine what data file to use base on page.year. I don't know a better
  way to do this.
{% endcomment %}
{% case page.year %}
  {% when 2002 %}
    {% assign year = site.data.nwffacim.acim.2002 %}
  {% when 2003 %}
    {% assign year = site.data.nwffacim.acim.2003 %}
  {% when 2004 %}
    {% assign year = site.data.nwffacim.acim.2004 %}
  {% when 2005 %}
    {% assign year = site.data.nwffacim.acim.2005 %}
  {% when 2006 %}
    {% assign year = site.data.nwffacim.acim.2006 %}
  {% when 2007 %}
    {% assign year = site.data.nwffacim.acim.2007 %}
  {% when 2008 %}
    {% assign year = site.data.nwffacim.acim.2008 %}
  {% when 2009 %}
    {% assign year = site.data.nwffacim.acim.2009 %}
  {% when 2010 %}
    {% assign year = site.data.nwffacim.acim.2010 %}
  {% when 2011 %}
    {% assign year = site.data.nwffacim.acim.2011 %}
  {% when 2012 %}
    {% assign year = site.data.nwffacim.acim.2012 %}
  {% when 2013 %}
    {% assign year = site.data.nwffacim.acim.2013 %}
  {% when 2014 %}
    {% assign year = site.data.nwffacim.acim.2014 %}
  {% when 2015 %}
    {% assign year = site.data.nwffacim.acim.2015 %}
  {% when 2016 %}
    {% assign year = site.data.nwffacim.acim.2016 %}
{% endcase %}

