---
---
{% include singlepage/css/base.css %}
{% include singlepage/css/skeleton.css %}
{% include singlepage/css/main.css %}

p.announcement {
  font-size: x-large;
  font-weight: bold;
  line-height: 1.3em;
  font-family: fantasy;
}

.enter-library {
  text-align: center;
  font-size: 3em;
}

span.fa-stack.fa-lg {
  margin-top: 50px;
  margin-bottom: 100px;
}

.facenter {
  width: 270px;
  height: 270px;
  padding: 15px;
  color: purple;
  margin-left: auto;
  margin-right: auto;
}

.cmi-stack {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.facenter .cmi-stack {
  font-size: 130px;
  margin-top: -8px;
}

.facenter .fa-circle {
  color: white;
}

.facenter h5 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  bottom: 50px;
  left: auto;
  text-align: center;
  display: block;
  z-index: 6;
  width: 240px;
}

.landing .container blockquote p {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.landing .container blockquote p::before,
.landing .container blockquote p::after {
  content: "\"";
  font-size: 1.5em;
}

.landing-bq-color-yellow > p {
  color: yellow;
}

.landing-bq-color-purple > p {
  color: purple;
}

.landing-bq-color-blue > p {
  color: #7BB4ED;
}

.landing .container .landing-h3 {
  text-align: left;
}

.landing .section.confetti {
  background: no-repeat center/80% url(/public/img/cmi/confetti.jpg);
}

.landing .section.enter {
  background: no-repeat center/80% url(/public/img/bkgrnd/library.jpg);
}

#footer .container > ul {
  display: inline-block;
  list-style: none;
  margin-top: 10px;
}

#footer li {
  float: left;
  margin-top: 30px;
  margin-right: 5px;
}

#footer li::after {
  content: " | ";
}

#footer li:last-child:after {
  content: "";
}

#footer li > a {
  text-decoration: none;
}




