<!DOCTYPE html>
<html lang="en-us">

  <!--
    layout: custom
    page.tabs: {{page.tabs}}
  -->
  {% include chead.html %}

  <!-- apply page specific styles, class: {{page.class}} -->
  <body {% if page.class %}class="{{page.class}}"{% endif %}>

    {% if page.sidebar %}
      {% include {{page.sidebar}} %}
    {% else %}
      {% include sidebar-toc.html %}
    {% endif %}

    <div class="wrap">
      {% include masthead.html %}

      {{ content }}

    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    {% if page.footer-id %}
      {% include footer.html id=page.footer-id %}
    {% endif %}

    <script>

    // Toggle sidebar  
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
