---
layout: default
---

<div class="narrative">
  <h1 class="post-title">{{ page.title }}</h1>
  {% comment %}
  Check for page resources, ie: pdf, rtf, audio, etc
  The page.links include will include prev/next indicators when specified
  {% endcomment %}
  {% if page.links %}
    {% include {{page.links}} %}
  {% elsif page.nav %}
    {% include {{page.nav}} %}
  {% endif %}

  {% if page.author %}
    <p class="citation"> by {{ page.author }}</p>
  {% endif %}
  {{ content }}
  {% if page.nav %}
    {% include {{page.nav}} %}
  {% endif %}
</div>
