---
layout: default
---

<div class="narrative">
  <h2 class="post-title">{{ page.title }}
    {% if page.ref %}
      <br/>
      <small>{{page.ref}}</small>
    {% endif %}
  </h2>
  {% comment %}
  Check for page resources, ie: pdf, rtf, audio, etc
  The page.links include will include prev/next indicators when specified
  {% endcomment %}
  {% if page.nav %}
    {% include {{page.nav}} resource=true %}

    {% if page-contains-audio == true %}
      {% include {{ page-audio-player }} %}
    {% endif %}
  {% endif %}

  <div class="transcript">
    {{ content }}
  </div>
  {% if page.nav %}
    {% include {{page.nav}} resource=false %}
  {% endif %}
</div>
<script>
//from include: nav/np-data.html
var transcriptFormatComplete = {{transcript-format-complete}};
</script>

